@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
input,
textarea {
    font-family: 'Roboto', sans-serif;
}
.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login-form input {
  max-width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  border-bottom: solid 2px #b3b2ca;
  transition: all 0.23s ease-in;
}
.login-form input:focus {
  border-bottom: solid 2px #5d5d8a;
  outline: none;
}
.login-form .error {
  text-align: center;
  margin: 5px 0;
  padding: 5px 10px;
  color: #c92c43;
}
.container {
  color: #292f33;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
#side-bar {
  box-sizing: border-box;
  width: 33.75%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#side-bar .heading {
  box-sizing: border-box;
  height: 12vh;
  max-height: 65px;
  padding: 18px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background:  #292f33;
  color: white; 
}
#side-bar .search {
  background:#292f33;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-width: 1px 0;
  border-style: solid;
  border-color: black;
  padding-left: 15px;
  padding-right: 20px;
  height: 10vh;
  max-height: 65px;
}
#side-bar .search .search-icon {
  margin-right: 15px;
  cursor: pointer;
}

